*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
.container{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-image: url(./img/workspace-1280538_1280.jpg);
    /* background-color: gray; */
    color: white;
}

#header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#isim{
    /* border: 1px solid red; */
    font-size: 5rem;
    font-family: 'Grape Nuts', cursive;
    margin-left: 4rem;
    color: rgb(209, 154, 124);
    text-shadow: 2px 10px 10px black;
}

#nav{
    width: 50%;
}
#nav li{
    display: inline-block;
    margin-right: 9rem;
    font-size: 2rem;
}

#nav a{
    text-decoration: none;
    color: white;
}

#nav a:hover{
    color: rgb(27, 42, 25);
    font-size: 2.2rem;
    font-weight: 800;
}
.main-container{
    /* border: 1px solid red; */
    width: 80vw;
    height: 60vh;
    display: flex;
    margin-top: 13rem;
    margin-left: 5rem;
}

#main-part{
    width: 90%;
}

#main-isim{
    /* border: 1px solid red; */
    display: flex;
    justify-content:baseline;
    gap: 5rem;
    font-size: 4rem;
    margin-top: 3rem;
}

#name{
    color: rgb(209, 154, 124);
    text-shadow: 1px 2px 3px black;
}
#p-1{
    /* border: 1px solid red; */
    font-size: 5rem;
}

#contact{
    /* border: 3px  solid yellow; */
    display: flex;
    justify-content: end;
    gap: 2rem;
    font-size: 4rem;
    width: 75%;
    margin-top: 8rem;
}

#contact i{
    color: rgb(27, 42, 25);
    text-shadow: 1px 2px 2px rgb(146, 140, 140);
}

#contact i:hover {
    color: wheat;
    text-shadow: 1px 2px 2px black;
}

.text{
    width: 100vw;
}

.container-1{
    min-height: 300px;
    background-image: url(./img/workspace-1280538_1280.jpg);
    background-position: center;
    background-size: cover;
}