@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kumbh+Sans&family=Marcellus&display=swap');

/*
font-family: 'Italianno', cursive;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Marcellus', serif;
*/

*{
    background-color:white;
    color: black;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 5rem;
    top: 0;
    left: 0;
    width: 100%;
    /*z-index: 100;*/
}

.logo{
    /* border: 2px solid yellow; */
    margin-left: 35rem;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    color:brown;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.nav-3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0;
    display: flex;
    justify-content:center;
    gap: 7rem;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.nav-3 a{
    transition: 1s ease;
}

.nav-3 a:hover{
    color:brown;
    transform: scale(1.02);
}
.nav-2{
    /* border: 2px solid blue; */
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    text-align: center;
    align-items:center;
}

.nav-2 i{
    /* border: 1px solid black; */
    color: rgb(183, 179, 179);
    background-color: white;
}

.hidden{
    display: none;
}
.container{
    /* border: 2px solid black; */
    text-align: center;
    font-family: 'Marcellus', serif;

    

}
.home-img a{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0; 
}

.home-img img{
    width: 90%;
    box-shadow: 0 0 2rem rebeccapurple;
    opacity: 0.9;

}


.content{
    /* border: 2px solid red; */
    margin: 3rem;
}

.title-container{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    
}

.title-container i{
    font-size: 3rem;
    color: rgb(164, 209, 164);
}

.content-title{
    /* border: 2px solid black; */
    font-size: 2.5rem;
    padding: 1rem;

}

.content-container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 1.2rem;
}

.content-a{
    /* border: 2px orange solid; */
    display: flex;
    justify-content: space-between;
    gap: 7rem;
}

.image-content{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}


.image-container {
    /* border: 2px solid blueviolet; */
    max-width: 20rem;
    max-height: 15rem;
    transition: 1s;
    
}

.image-container:hover{
    transform: scale(1.1);
}

.senin-icin{
    /* border: 2px solid black; */
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.senin-icin a{
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.senin-icin a:hover{
    opacity: 1;
}

#images{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
    font-family: 'Marcellus', serif;

}

#image-box{
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5%;
    width: 20%;
    height: 28rem;
    padding: 5px;
    text-align: center;
    position: relative;
    transition: box-shadow 1s, border 1s;
}

#image-box:hover{
    border: 2px solid rgba(64, 64, 64, 0.1);
    box-shadow: 0 0 0.3rem gray;
}

#image-box:hover #images-box-nav{
    opacity: 1;
    top:-30px;
}

#image-box:hover .images-box-bottom{
    opacity: 0;
}



.image{
    width: 100%;
    height: 65%;
    border-radius: 5%;
    transition: 0.5s ease;
}

#image-box:hover .image{
    transform: scale(1.03);
}

.images-box-info{
    /* border: 2px solid red; */
    transition: 0.5s ease;
    margin-top: 1rem;
}

.price{
    color: #72a499;
    padding-top: 0.5rem;
}

.images-box-bottom{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

#images-box-nav{
    /* border: solid 2px black; */
    position: relative;
    opacity: 0;
    top: 0;
    transition: opacity 0.5s, top 0.5s ease;
}


.gonder{
    border: 1px solid rgb(70, 63, 63);
    border-radius: 20px / 50%;
    padding: 0.5rem;
    color: rgb(70, 63, 63);
    background-color: white;
    transition: 0.5s;
    font-size:larger;

}

.gonder:hover{
    background-color:rgb(70, 63, 63);
    color: white;
}



.sepete-ekle i, .hızlı-gozat i{
    font-size: 1rem;
    color: rgb(70, 63, 63);
    background-color: white;
    border-radius: 100%;
    padding: 0.5rem;
    transition: 0.5s;
}

.sepete-ekle i:hover, .hızlı-gozat i:hover{
    border: 0px;
    background-color: rgb(70, 63, 63);
    color: white;
}

.gozat{
    font-size: 0.9rem;
    position: absolute;
    opacity: 0;
    top: -10px;
    margin-left: 1.5rem;
    transition: opacity 0.3s ease, top 0.3s ease;
}


.hızlı-gozat:hover +.gozat{
    opacity: 1;
    top: -25px;
    background-color: rgba(255, 255, 255, 0.5)

}

.sepet{
    font-size: 0.9rem;
    position: absolute;
    opacity: 0;
    top: -10px;
    margin-left: 9.5rem;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.sepete-ekle:hover + .sepet{
    opacity: 1;
    top: -25px;
    background-color: rgba(255, 255, 255, 0.5)
}

.footer{
    border: 1px solid red;
    padding: 1rem 3rem;
}

.Haber{
    border: 1px solid black;
    display: flex;
    gap: 10rem;
}

.footer-text{
    font-size: 60px;
    color: #72a499;
    padding: 3rem;
}
.haber-2{
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;  
    position: relative;  
}
.haber-2 p{
    font-size: 1.5rem;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; 
}
.input-group input {
    flex: 1;
    height: 3rem;
    border-radius: 20px / 50%;
    padding-left: 1rem;
}
.input-group a{
    padding: 2px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 20px / 50%;
    height: 3rem;
    position: absolute;
    margin-left: 21rem;
    
}

.sayfasonu{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bızeulas{
    border: 1px solid orange;
}

.kurumsal{
    border: 1px solid saddlebrown;
}

.kurumsal a{
    display: block;   
}

.dıger a{
    display: block;   
}